<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <title>Newton-Raphson</title>
</head>

<body>
  <section class="principal">
    <header>
      <div>
        <h3>Newton-Raphson</h3>
      </div>
    </header>
    <article>
      <table class="tabla1">
        <div class="funcion">
          <label for="function"><i>Dígite la función</i></label>
          <br>
          <input type="text" id="function" [(ngModel)]="funcion" required="true" placeholder="sen(x)" minlength="1">
        </div>
        <div class="variable">
          <label for="letra"><i>Dígite la variable a derivar</i></label>
          <br>
          <input type="text" id="letra" [(ngModel)]="variable" required="true" placeholder="x" minlength="1">
        </div>
        <div class="iteraciones">
          <label for="iteraciones"><i>Dígite el número de iteraciones</i></label>
          <br>
          <input type="number" id="iteraciones" [(ngModel)]="iteraciones" required="true" placeholder="10" min="1">
        </div>
      </table>
      <!--<table class="tablaB">-->
        <div class="calcular">
          <button (click)="newtonRaphson()">
            <p><i>Cálcular</i></p>
          </button>
        </div>
        <!--<div class="eliminar">
          <button (click)="deleteFunction()">
            <p><i>Eliminar</i></p>
          </button>
        </div>-->
      <!--</table>-->
      <table class="tablaT">
        <div class="iteradores">
          <h1>
            <i>iteraciones</i>
          </h1>
        </div>
        <div class="valores">
          <h1>
            <i>Xₙ</i>
          </h1>
        </div>
      </table>
      <table *ngFor="let item of guardarFunciones,index as i" class="tabla2">
        <div class="iterador">
          <p>
            {{i+1}}
          </p>
        </div>
        <div class="numero">
          <p>
            {{item}}
          </p>
        </div>
      </table>
    </article>
  </section>

  <section class="secundaria">
    <header>
      <h3>
        <i>Uso</i>
      </h3>
    </header>
    <article>
      <table class="tabla3">
        <div>
          <p>
            x^y
          </p>
        </div>
        <div>
          <p>
            sin(x) cos(x) tan(x) csc(x) sec(x)
          </p>
        </div>
        <div>
          <p>
            x/y
          </p>
        </div>
        <div>
          <p>
            log(x,y) y es la base
          </p>
        </div>
        <div>
          <p>
            sqrt(x) cbrt(x)
          </p>
        </div>
        <div>
          <p>

          </p>
        </div>
      </table>
    </article>
  </section>

  <section class="final">
    <table class="tablaF">
      <div class="git">
        <p>
          <i>Github</i>
        </p>
      </div>
      <div class="link">
        <p>
          <a href="https://github.com/jdma253" target="_blank"><i>Here</i></a>
        </p>
      </div>
    </table>
  </section>

</body>

</html>
